{% include "cabecera.html" %}
{% load static %}



	<!-- Breadcrumb section -->
	<div class="site-breadcrumb">
		<div class="container">

		</div>
	</div>
	<!-- Breadcrumb section end -->
    <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item" ><a href="/" style="color: black"><i class="fa fa-home" style="color: black"></i> Inicio</a> </li>
      <li class="breadcrumb-item active">Inscripción Copa Inge 2023</li>
    </ol>
    </div>


	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<div class="container">

            <button lang="es" type="button" class="btn btn-secondary btn-lg" style="display: block; margin-right: auto; margin-left: auto"><i class="fa fa-file-pdf-o"></i><a lang="es" href="https://drive.google.com/file/d/1OdhZwA5qXC8ySeAYwtUI2Yt_MyzqDTCb/view?usp=sharing" style="color: white; "> REGLAMENTO COPA INGE 2023</a></button><br>

        <iframe
          src="https://forms.fillout.com/t/iew3mbps4Dus"
          width="100%"
          height="600px"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Unite a tu Equipo"></iframe>


        <iframe
          src="https://www.tuti.com.py/evento/en-la-segunda-se-recupera"
          width="100%"
          height="800px"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="CPING23FEM"></iframe>


		</div>
	</section>
	<!-- Courses section end-->


{% include "pie_pagina.html" %}