{% include "cabecera.html" %}
{% load static %}
{% load pwa %}

	<!-- Breadcrumb section -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href="/"><i class="fa fa-home"></i> Inicio</a> <i class="fa fa-angle-right"></i>
            <a href="/blog"> Blog</a> <i class="fa fa-angle-right"></i>
			<span>Detalles</span>
		</div>
	</div>
	<!-- Breadcrumb section end -->
    <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item" ><a href="/" style="color: black"><i class="fa fa-home" style="color: black"></i> Inicio</a> <i class="fa fa-angle-right"></i></li>
      <li class="breadcrumb-item"><a href="/blog" style="color: black"> Blog</a> <i class="fa fa-angle-right"></i></li>
      <li class="breadcrumb-item active">Detalles</li>
    </ol>
    </div>


	<!-- Blog page section  -->
	<section class="blog-page-section spad pt-0">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="post-item post-details">
						<img src="{% static "image/blog/" %}{{ post.foto }}" class="post-thumb-full" alt="">
						<div class="post-content">
							<h3>{{ post.title }}</h3>
							<div class="post-meta">
								<span><i class="fa fa-calendar-o"></i>     {{ post.published_date }}</span>
								<span><i class="fa fa-user"></i>      {{ post.author }}</span>
							</div>
                            <p>{{ post.text | linebreaksbr }}</p>
                            <blockquote><em>" De esta manera la FCyT cumple con su visión de ser una Facultad Líder, además de cumplir un rol de reunir a distintos sectores de la profesión en pos de abrir horizontes para sus alumnos y a la comunidad en general."</em></blockquote>
						</div>
                        <div class="tag"><i class="fa fa-tag"></i> {{ post.categoriacarrera }} , {{ post.categoriaedu}} , {{ post.categoriafcyt }}</div>
						<div class="post-author">
							<div class="pa-thumb set-bg" data-setbg="{% static "image/blog/author2.png" %}"></div>
							<div class="pa-content">
                                <h4>Secretaría de Prensa - Marketing & Cultura.</h4>
								<p>" Este y otros artículos son editados y publicados por parte de las Secretarías de Prensa - Marketing & Cultura del Centro de Estudiantes de manera conjunta."</p>
							</div>
						</div>

					</div>
				</div>
				<!-- sidebar -->
				<div class="col-sm-8 col-md-5 col-lg-4 col-xl-3 offset-xl-1 offset-0 pl-xl-0 sidebar">
					<!-- widget -->
					<div class="widget">
                        <a class="weatherwidget-io" href="https://forecast7.com/es/n25d36n56d46/coronel-oviedo/" data-label_1="CORONEL OVIEDO" data-label_2="CLIMA" data-font="Ubuntu" data-icons="Climacons Animated" data-days="3" data-theme="clear" >CORONEL OVIEDO CLIMA</a>
					</div>
					<!-- widget -->

                <div class ="widget">
                <div id='gcw_mainFAKUrfbmW' class='gcw_mainFAKUrfbmW'></div>
                <a id='gcw_siteFAKUrfbmW' href='https://freecurrencyrates.com/es/'></a>
                <script>function reloadFAKUrfbmW(){ var sc = document.getElementById('scFAKUrfbmW');if (sc) sc.parentNode.removeChild(sc);sc = document.createElement('script');sc.type = 'text/javascript';sc.charset = 'UTF-8';sc.async = true;sc.id='scFAKUrfbmW';sc.src = 'https://freecurrencyrates.com/es/widget-vertical-editable?iso=USD-EUR-BTC-XUL&df=1&p=FAKUrfbmW&v=fis&source=blockchain&width=350&width_title=0&firstrowvalue=1&thm=dddddd,ffffff,dddddd,dddddd,444444,dddddd,ffffff,000000,000000&title=Conversor%20de%20Divisas&tzo=180';var div = document.getElementById('gcw_mainFAKUrfbmW');div.parentNode.insertBefore(sc, div);} reloadFAKUrfbmW(); </script>
                <!-- put custom styles here: .gcw_mainFAKUrfbmW{}, .gcw_headerFAKUrfbmW{}, .gcw_ratesFAKUrfbmW{}, .gcw_sourceFAKUrfbmW{} -->
                <!--End of Currency Converter widget by FreeCurrencyRates.com -->
				</div>


					<div class="widget">
						<h5 class="widget-title">Noticias Recientes</h5>
						<div class="recent-post-widget">
							<!-- recent post -->
                            {% for post in posts %}
							<div class="rp-item">
								<div class="rp-thumb set-bg" data-setbg="{% static "image/blog/"%}{{ post.foto }}"></div>
								<div class="rp-content">
									<h6><a href="/blog/{{ post.id }}" style="color:black">{{ post.title }}</a></h6>
									<p><i class="fa fa-clock-o"></i> {{ post.published_date }}</p>
								</div>
							</div>
                            {% endfor %}
							<!-- recent post -->
						</div>
					</div>
					<!-- widget -->
					<div class="widget">
						<h4 class="widget-title">Tags</h4>
						<div class="tags">
							<a href="/tag7">ELECTRÓNICA</a>
                            <a href="/tag6">ELECTRICIDAD</a>
                            <a href="/tag5">INFORMÁTICA</a>
                            <a href="/tag4">CONSTRUCCIÓN</a>
                            <a href="/tag10">EDUCACIÓN</a>
                            <a href="/tag1">DESARROLLO</a>
                            <a href="/tag8">DEPORTES</a>
                            <a href="/tag2">PROYECTOS</a>
                            <a href="/tag9">MEDIO AMBIENTE</a>
                            <a href="/tag3">DEMOCRACIA</a>
                            <a href="/tag11">FCyT</a>
                            <a href="/tag12">PARAGUAY</a>
						</div>
					</div>
					<!-- widget -->
					<div class="widget">
						<img src="{% static "image/add.png" %}" alt="" class="sombra">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog page section end -->

{% include "pie_pagina.html" %}