{% include "cabecera.html" %}
{% load static %}



	<!-- Breadcrumb section -->
	<div class="site-breadcrumb">
		<div class="container">

		</div>
	</div>
	<!-- Breadcrumb section end -->
    <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item" ><a href="/" style="color: black"><i class="fa fa-home" style="color: black"></i> Inicio</a> </li>
      <li class="breadcrumb-item active">Inscripción Copa Inge 2023</li>
    </ol>
    </div>


	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<div class="container">

        <iframe src="https://player.twitch.tv/?channel=ce_fcyt&parent=www.centroes.fctunca.edu.py" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
        <iframe
          id="chat_embed"
          src="https://www.twitch.tv/embed/ce_fcyt/chat?parent=www.centroes.fctunca.edu.py/"
          height="378"
          width="350">
        </iframe>



		</div>
	</section>
	<!-- Courses section end-->


{% include "pie_pagina.html" %}