{% include "cabecera.html" %}
{% load static %}



	<!-- Breadcrumb section -->
	<div class="site-breadcrumb">
		<div class="container">

		</div>
	</div>
	<!-- Breadcrumb section end -->
    <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item" ><a href="/" style="color: black"><i class="fa fa-home" style="color: black"></i> Inicio</a> </li>
      <li class="breadcrumb-item active">Transparencia</li>
    </ol>
    </div>


	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<div class="container">

        <script id="infogram_0_0bbd910e-6028-4ea7-8bd9-424ef4a1f3d4" title="Reporte CE - FCYT" src="https://e.infogram.com/js/dist/embed.js?S2K" type="text/javascript"></script><div style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"><a href="https://infogram.com/0bbd910e-6028-4ea7-8bd9-424ef4a1f3d4" style="color:#989898!important;text-decoration:none!important;" target="_blank">Reporte CE - FCYT</a><br><a href="https://infogram.com" style="color:#989898!important;text-decoration:none!important;" target="_blank" rel="nofollow">Infogram</a></div>


		</div>
	</section>
	<!-- Courses section end-->


{% include "pie_pagina.html" %}